h1 {text-align:center:}
h2{text-align:center:}
#datosGenerales {background-color: #FFFF00; width: 50%;}
#datosTrabajo{background-color: #00FFFF; width: 50%;}
#nomina {background-color: #0000FF; width: 50%;}
#botones {background-color: #C0C0C0; width:50%; text align: right;}
.numero{text-align: right;}
